.badge {
	display: inline !important;
	/* vertical-align: middle; */
	color: white;
	position: absolute;
	background: #bd0000;
	/* width: 15px; */
	/* height: 15px; */
	border-radius: 10px;
	/* padding: 0; */
	margin-left: 20px;
	font-size: x-small;

}